<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <style>
      body {
        font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  </head>
  <body>
    <div style="max-width: 900px; margin: 0 auto;">
      <h1 style="color: gray">BLOG</h1>
      <h2 style="margin-bottom: 0">Readings</h2>
      <ul>
        {% for reading in collections.readings %}
          <li>
            <a href="{{ reading.url }}">{{ reading.data.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <script async defer data-domain="jackloughran.blog" src="https://a.jackloughran.blog/a.js"></script>
  </body>
</html>